//
// Imports
//

@use "../_Mixins.scss";

//
// Component
//

@mixin Button($color: #16a34a /* Tailwind Green 600 */)
{
	.component-button
	{
		display: flex;
		align-items: center;
		gap: 0.5rem;

		padding: 1rem 1.5rem;

		background-color: $color;
		border: none;
		color: #ffffff;

		@include Mixins.Margin();

		&:disabled
		{
			opacity: 0.5;
		}

		&:not(:disabled)
		{
			&:hover,
			&:focus
			{
				background-color: hsl(from $color h s 30%);
	
				cursor: pointer;
			}
		}
	}
}