//
// Imports
//

@use "../_Mixins.scss";

//
// Component
//

@mixin Checkbox()
{
	.component-checkbox
	{
		display: flex;
		gap: 0.5rem;
		align-items: center;

		@include Mixins.Margins();

		&:has(> [data-dirty="true"])
		{
			font-weight: bold;
		}
	}
}