//
// Imports
//

@use "../_Mixins.scss";

//
// Component
//

@mixin Control()
{
	.component-control
	{
		border: none;
		border-radius: 0;

		display: block;

		width: 100%;

		padding: 0.5rem;

		@include Mixins.Margins();

		&:user-invalid
		{
			outline: 5px solid #dc2626; // Tailwind Red 600
		}

		&:not(:user-invalid)[data-dirty="true"]
		{
			outline: 5px solid #22c55e; // Tailwind Green 500
		}
	}

	textarea.component-control
	{
		min-height: 5rem;

		resize: vertical;
	}
}