//
// Imports
//

@use "../_Mixins.scss";

//
// Component
//

@mixin Control()
{
	.component-control
	{
		border: none;
		border-radius: 0;

		display: block;

		width: 100%;

		padding: 0.5rem;

		@include Mixins.Margins();
	}

	textarea.component-control
	{
		min-height: 5rem;

		resize: vertical;
	}
}