//
// Component
//

@mixin Anchor()
{
	.component-anchor
	{		
		color: inherit;

		text-decoration: none;

		&:hover
		{
			text-decoration: underline;
		}

		&:visited
		{
			color: inherit;
		}
	}
}