//
// Component
//

@mixin GameDetails()
{
	.component-game-details-header
	{
		display: grid;
		grid-template-areas: "stack";

		height: 20rem;

		position: relative;

		overflow: hidden;

		> .image
		{
			grid-area: stack;

			width: 100%;
			height: 100%;

			object-fit: cover;

			align-self: center;
		}

		> .logo
		{
			grid-area: stack;

			align-self: end;

			padding: 1rem;

			max-width: 30rem;
		}

		> .name
		{
			grid-area: stack;

			align-self: end;

			padding: 1rem;

			font-size: 3rem;
		}
	}

	.component-game-details-play-action-button-group
	{
		display: flex;
		gap: 0.25rem;

		padding: 0.5rem;

		border-top: 1px solid #374151; // Tailwind Gray 700
		border-bottom: 1px solid #374151; // Tailwind Gray 700
	}

	.component-game-details-section
	{
		padding: 1rem;

		width: 500px;

		> .header
		{
			font-size: 1.1rem;

			border-bottom: 1px solid #374151; // Tailwind Gray 700

			margin-bottom: 0.5rem;
		}
	}

	.component-game-details-data-table
	{
		td
		{
			padding: 0.5rem 0.5rem 0.5rem 0;

			&.label
			{
				font-weight: bold;
			}
		}
	}

	.component-game-details
	{
		> .details-sections
		{
			display: flex;

			gap: 0.5rem;

			flex-wrap: wrap;
		}
	}
}