//
// Component
//

@mixin GameHeader()
{
	.component-game-header
	{
		display: grid;
		grid-template-areas: stack;

		height: 20rem;

		position: relative;

		overflow: hidden;

		> .image
		{
			grid-area: stack;

			width: 100%;
			height: 100%;

			object-fit: cover;
		}

		> .logo
		{
			grid-area: stack;

			align-self: end;

			padding: 1rem;

			max-width: 20rem;
		}

		> .name
		{
			grid-area: stack;

			align-self: end;

			padding: 1rem;

			font-size: 3rem;
		}
	}
}