//
// Component
//

@mixin LibrarySidebarGroup()
{
	.component-library-sidebar-group
	{
		> .title
		{
			padding: 0.25rem;

			font-weight: bold;

			&:hover
			{
				background-color: #030712;
				color: #f3f4f6;
				cursor: pointer;
			}
		}
	}
}