//
// Component
//

@mixin LibrarySidebarItem()
{
	.component-library-sidebar-item
	{
		border-left: 5px solid transparent;

		color: inherit;
		text-decoration: none;

		padding: 0.25rem;

		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.25rem;
		align-items: center;

		&:hover,
		&.selected
		{
			border-left-color: #ffffff;
			cursor: pointer;
		}

		> .icon
		{
			width: 32px;
			height: 32px;
		}

		> .name
		{

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}