//
// Component
//

@mixin Library
{
	.component-library
	{

		width: 100dvw;
		height: 100dvh;

		display: grid;
		grid-template-columns: 350px 1fr;

		> .game-details-wrapper
		{
			height: 100%;

			overflow-y: scroll;
		}
	}
}