//
// Component
//

@mixin LibrarySidebarGroupItem()
{
	.component-library-sidebar-group-item
	{
		color: inherit;
		text-decoration: none;

		padding: 0.25rem;

		display: grid;
		grid-template-columns: auto 1fr;
		gap: 0.25rem;
		align-items: center;

		&:hover,
		&.selected
		{
			background-color: #030712;
			color: #f3f4f6;
			cursor: pointer;
		}

		> .icon
		{
			width: 32px;
			height: 32px;
		}

		> .text
		{
			overflow: hidden;

			> .name
			{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			> .details
			{
				font-size: 0.75em;

				opacity: 0.5;
			}
		}
	}
}