//
// Component
//

@mixin AutomaticGridColumns
{
	.component-automatic-grid-columns
	{
		display: grid;

		gap: 0.5rem;

		grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--component-automatic-grid-columns-minimum-column-width)), 1fr));
	}
}