//
// Imports
//

@use "../_Globals.scss";

//
// Component
//

@mixin ColumnLayout()
{
	.component-column-layout
	{
		display: grid;

		gap: 0.75rem;

		grid-template-columns: repeat(var(--component-column-layout-number-of-columns, 1), 1fr);

		@include Globals.Margins();

		> *
		{
			margin: 0 !important;
		}
	}
}