//
// Constants
//

$border-color: #374151;

//
// Mixins 
//

@mixin Resets()
{
	*
	{
		font-family: inherit;
	}

	*,
	*::before,
	*::after
	{
		box-sizing: border-box;
	}

	button,
	input,
	select,
	textarea
	{
		font: inherit;
	}

	img,
	picture,
	svg,
	video
	{
		display: block;

		max-width: 100%;
	}
}

@mixin Margins($size: 0.75rem)
{
	&
	{
		margin: 0;
	}

	&:not(:first-child)
	{
		margin-top: $size;
	}

	&:not(:last-child)
	{
		margin-bottom: $size;
	}
}