//
// Constants
//

$themeColorPrimary: #1f2937; // Tailwind Gray 800
$themeColorSecondary: #030712; // Tailwind Gray 950

$borderColor: #374151; // Tailwind Gray 700
$textColor: #f3f4f6; // Tailwind Gray 100

//
// Mixins 
//

@mixin Resets()
{
	*
	{
		font-family: inherit;
	}

	*,
	*::before,
	*::after
	{
		box-sizing: border-box;
	}

	img,
	picture,
	svg,
	video
	{
		display: block;

		max-width: 100%;
	}
}

@mixin Margins($size: 0.75rem)
{
	&
	{
		margin: 0;
	}

	&:not(:first-child)
	{
		margin-top: $size;
	}

	&:not(:last-child)
	{
		margin-bottom: $size;
	}
}