//
// Component
//

@mixin Resets()
{
	*
	{
		font-family: inherit;
	}

	*,
	*::before,
	*::after
	{
		box-sizing: border-box;
	}

	button,
	input,
	select,
	textarea
	{
		font: inherit;
	}

	img,
	picture,
	svg,
	video
	{
		display: block;

		max-width: 100%;
	}
}