//
// Component
//

@mixin Button()
{
	.component-button
	{
		background-color: #16a34a; // Tailwind Green 600

		border: none;
		
		color: #ffffff;

		padding: 1rem 2rem;

		&:disabled
		{
			opacity: 0.5;
		}

		&:not(:disabled)
		{
			&:hover,
			&:focus
			{
				background-color: hsl(from #16a34a h s 30%);
	
				cursor: pointer;
			}
		}
	}
}