//
// Imports
//

@use "./_Globals.scss";

//
// Component
//

@mixin GameDetails()
{
	.component-game-details-missing-data
	{
		color: #dc2626; // Tailwind Red 600
	}

	.component-game-details
	{
		padding: 0.75rem;

		display: grid;
		grid-template-areas: ". wrapper .";
		grid-template-columns: 1fr minmax(0, 50rem) 1fr;
		gap: 0.75rem;

		> .wrapper
		{
			grid-area: wrapper;
		}
	}
}