//
// Component
//

@mixin Library()
{
	.component-library
	{
		height: 100%;

		display: grid;
		grid-template-areas:
			"filter-settings-toolbar filter-settings-toolbar"
			"sidebar                game-details-wrapper";
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;

		> .component-filter-settings-toolbar
		{
			grid-area: filter-settings-toolbar;
		}

		> .component-game-list
		{
			grid-area: sidebar;
		}

		> .component-game-details
		{
			grid-area: game-details-wrapper;

			height: 100%;

			overflow-y: scroll;
		}
	}
}