//
// Component
//

@mixin Paragraph()
{
	.component-paragraph
	{		
		line-height: 1.5;

		margin: 0;

		&:not(:only-child)
		{
			&:not(:first-child)
			{
				margin-top: 0.25rem;
			}

			&:not(:last-child)
			{
				margin-bottom: 0.25rem;
			}
		}
	}
}