//
// Component
//

@mixin Site()
{
	.component-site
	{
		width: 100dvw;
		height: 100dvh;

		display: grid;
		grid-template-columns: auto 1fr;
		
		background-color: #1f2937; // Tailwind Gray 800
		color: #f3f4f6; // Tailwind Gray 100
		font-family: Arial, Helvetica, "sans-serif";

		> .content
		{
			height: 100%;
			overflow: hidden;
		}
	}
}