//
// Imports
//

@use "./_Globals.scss";

//
// Component
//

@mixin Site()
{
	.component-site
	{
		width: 100dvw;
		height: 100dvh;

		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: 1fr;
		
		background-color: Globals.$themeColorPrimary;
		color: Globals.$textColor;
		font-family: Arial, Helvetica, "sans-serif";

		> .sidebar
		{
			height: 100%;
			overflow: hidden;
		}

		> .content
		{
			height: 100%;
			overflow: hidden;
		}
	}
}