//
// Component
//

@mixin Wrapper()
{
	.component-wrapper
	{
		height: 100%;
		overflow-y: scroll;
		padding: 1rem;

		display: grid;
		grid-template-areas: ". content .";
		grid-template-columns: 1fr var(--component-wrapper-content-width) 1fr;

		> .content
		{
			grid-area: content;
		}
	}
}