//
// Component
//

@mixin Wrapper()
{
	.component-wrapper
	{
		padding: 0.75rem;

		display: grid;
		grid-template-areas: ". content .";
		grid-template-columns: 1fr minmax(0, 50rem) 1fr;

		> .content
		{
			grid-area: content;
		}
	}
}