//
// Imports
//

@use "../_Globals.scss";

//
// Component
//

@mixin Dialog()
{
	.component-dialog
	{
		background-color: Globals.$themeColorPrimary;
		border: 1px solid Globals.$borderColor;
		color: Globals.$textColor;

		width: 100%;
		max-width: 30rem;

		&::backdrop
		{
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}